body {
    margin: 0;
    /* Supprime les marges par défaut autour de la page pour que le contenu occupe tout l'espace disponible */

    display: flex;
    /* Utilise Flexbox pour organiser les éléments enfants du <body> */

    justify-content: center;
    /* Centre le contenu horizontalement au milieu de la page */

    align-items: center;
    /* Centre le contenu verticalement au milieu de la page */

    height: 100vh;
    /* Définit la hauteur du <body> à 100% de la hauteur de la fenêtre visible (viewport) */

    background-color: #377aed;
    /* Définit un fond gris foncé pour la page */
}

canvas {
    border: 2px solid white;
    /* Ajoute une bordure blanche de 2 pixels autour du canvas */
}
